---
import { formatDate } from "../lib/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
}>;

const { slug } = Astro.params;
const { frontmatter } = Astro.props;

function dir(word: string, direction: string = 'rtl') {
  return `<span dir="${direction}">${word}</span>`;
}
---


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">

<link href="
https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.min.css
" rel="stylesheet">

<link rel="stylesheet" href="/css/style.css" />

<BasicLayout
  frontmatter={frontmatter}
  slug={slug}
  page="blog"
  title={`Hothaifa Jaber - ${frontmatter.title}`}
  description={frontmatter.description}
>
  <main class="mx-auto max-w-5xl w-full h-screen p-8 text-neutral-100">
    <a
      href="/blog"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg mb-8"
      >Back</a
    >
    <div class="my-10">
      <h1 class="text-5xl font-semibold">{frontmatter.title}</h1>
      <div class="flex justify-between pt-4 text-gray-500 text-sm">
        <p>{formatDate(new Date(frontmatter.pubDate))}</p>
        <p>{frontmatter.minutesRead}</p>
      </div>
    </div>
    <article class="prose prose-p:text-red-500 prose-slate prose-invert">
      <slot />
    </article>
  </main>
</BasicLayout>
